# Default code owner for the repository
* @dixonjoel @pbirkhol-ni @jasonmreding

# Add nstokes-nati for documentation
*.md @dixonjoel @pbirkhol-ni @jasonmreding @nstokes-nati
/docs/ @dixonjoel @pbirkhol-ni @jasonmreding @nstokes-nati
