name: PR
on:
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_call:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run_pr_commenter:
    name: Run PR Commenter
    if: ${{contains(github.event.pull_request.body, 'RUN_G_DIFF_CHECK') && (github.repository == 'ni/measurementlink-labview' || github.event.pull_request.head.repo.full_name == 'ni/measurementlink-labview') }}
    uses: ./.github/workflows/run_pr_commenter.yml
