name: Run PR Commenter

on:
  workflow_call:
  workflow_dispatch:

jobs:
  run_pr_commenter:
    name: Run PR Commenter
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4

    - uses: actions/checkout@v4
      with:
        ref: main
        path: target_for_diff

    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: pip install requests

    - name: Run G Diff
      id: run-diff
      run: |
        python ${{runner.workspace}}/measurementlink-labview/Source/Tools/run_diff.py --token ${{secrets.GITHUB_TOKEN}} --pull-req ${{github.event.pull_request.number}}
