name: Run G Tests

on:
  workflow_call:
  workflow_dispatch:

jobs:
  run_g_tests:
    name: Run G Tests
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Run G Tests
      run:
        python ${{runner.workspace}}/measurementlink-labview/Source/Tests/run_tests.py
